
@{
    ViewBag.Title = "_MultiplePartial";
}
<h3 style="margin-top: 2%">Ответы:</h3>
<hr />
<div id="answers"></div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-default btn-lg" onclick="AddAnswers(3);">Добавить 3 ответа</button>
    </div>
</div>


