@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Конструктор билетов</h1>
    <p class="lead">Инструмент, который избавит вас от необходимости составлять экзаменационные вопросы.</p>
</div>

